<!-- full profile details section -->
    <!-- top details -->
    <div class="flex flex-col">
        <div class="flex items-center">
        <!-- arrow back -->
        <div class="p-4">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="m8.3 17.3l-4.6-4.6q-.15-.15-.213-.325T3.426 12q0-.2.063-.375T3.7 11.3l4.625-4.625Q8.6 6.4 9 6.4t.7.3q.275.275.275.7t-.275.7L6.8 11H20q.425 0 .713.288T21 12q0 .425-.288.713T20 13H6.8l2.925 2.925Q10 16.2 10 16.6t-.3.7q-.275.275-.7.275t-.7-.275Z"/></svg>
            </a>
        </div>
        
        <div class="flex flex-row items-center">
            <p class="font-bold text-xl px-4">{{user["user_firstname"]}} {{user["user_lastname"]}}</p>
           
            % if user["user_is_verified"] == 1:
            <div class="verified_container">
                <svg id="verified_icon" xmlns="http://www.w3.org/2000/svg" class="text-twitterBlue" width="20" height="20" viewBox="0 0 24 24"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.054 2.344a3 3 0 0 1 3.892 0l1.271 1.084a1 1 0 0 0 .57.236l1.665.133a3 3 0 0 1 2.751 2.751l.133 1.666a1 1 0 0 0 .236.569l1.084 1.271a3 3 0 0 1 0 3.892l-1.084 1.271a1 1 0 0 0-.236.57l-.133 1.665a3 3 0 0 1-2.751 2.751l-1.666.133a1 1 0 0 0-.569.236l-1.271 1.084a3 3 0 0 1-3.892 0l-1.271-1.084a1 1 0 0 0-.57-.236l-1.665-.133a3 3 0 0 1-2.751-2.751l-.133-1.666a1 1 0 0 0-.236-.569l-1.084-1.271a3 3 0 0 1 0-3.892l1.084-1.271a1 1 0 0 0 .236-.57l.133-1.665a3 3 0 0 1 2.751-2.751l1.666-.133a1 1 0 0 0 .569-.236l1.271-1.084zm5.653 8.363a1 1 0 0 0-1.414-1.414L11 12.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4z" fill="currentColor"/></g></svg>
            </div>
            % end
        </div>
        
    </div>
        <p class="px-10 text-xs font-normal text-twitterLightGray pb-4">
            {{user["user_total_tweets"]}} Tweets
        </p>
    
        % if user["user_cover_picture"]:
            <img src="/images/coverpictures/{{user['user_cover_picture']}}" alt="coverpicture" class="w-full object-cover bg-no-repeat bg-center max-h-[200px]">
        % else:
            <div class="w-full bg-cover bg-no-repeat bg-center h-[200px]">
                <div class="bg-zinc-600 w-full h-full"></div>
            </div>
        % end
    
    </div>
    <!-- end top details -->
    

    <div class="flex flex-col px-4">
        % if user["user_profile_picture"]:
        <img src="/images/profilepictures/{{user['user_profile_picture']}}" alt="" class="w-28 h-28 rounded-full object-cover border-4 border-black -mt-12">
        % else:
        <img src="/images/profilepictures/default_avatar.png" alt="" class="w-28 h-28 rounded-full object-cover border-4 border-black -mt-12">
        % end
        <div class="flex ml-auto items-center gap-2">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </a>
        
        % if cookie_user:
                % if cookie_user["user_id"] == user_id:
                <form id="edit_profile">
                    <button onclick="displayModalSettings()" id="cookie_user_profile" class="ml-auto px-4 py-2 text-black text-sm font-medium bg-white rounded-full">Edit profile</button>
                </form>
                % include('modal_settings')

                % elif follow == []:
                <div id="follow_unfollow" value="{{user['username']}}_profile">
                    <form id="follow_form" onsubmit="follow(); return false">
                        <input type="text" name="followee_fk" value="{{user['user_id']}}" style="display:none">
                        <button class="ml-auto px-4 py-2 text-black text-sm font-medium bg-white rounded-full">Follow</button>
                    </form>
                </div>
                
                % else:
                <div id="follow_unfollow" value="{{user['username']}}_profile">
                    <form id="unfollow_form" onsubmit="unfollow(); return false">
                        <input type="text" name="unfollowee_fk" value="{{user['user_id']}}" style="display:none">
                        <button type="submit" class="ml-auto px-4 py-2 border border-twitterLightGray bg-transparent ease-in duration-100 hover:border-twitterRed hover:text-twitterRed rounded-full text-sm font-medium before:content-['Following'] hover:before:content-['Unfollow']"></button>
                    </form>
                </div> 
                % end

        % end



    </div>
    </div>
    <!-- Under profile picture -->
    <div class="flex flex-col px-4">
        <div>
        <div class="flex items-center gap-2 mt-4">
            <p class="font-bold text-xl">{{user["user_firstname"]}} {{user["user_lastname"]}}</p>
            
            % if user["user_is_verified"] == 1:
            <div class="verified_container">
                <svg id="verified_icon" xmlns="http://www.w3.org/2000/svg" class="text-twitterBlue" width="20" height="20" viewBox="0 0 24 24"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.054 2.344a3 3 0 0 1 3.892 0l1.271 1.084a1 1 0 0 0 .57.236l1.665.133a3 3 0 0 1 2.751 2.751l.133 1.666a1 1 0 0 0 .236.569l1.084 1.271a3 3 0 0 1 0 3.892l-1.084 1.271a1 1 0 0 0-.236.57l-.133 1.665a3 3 0 0 1-2.751 2.751l-1.666.133a1 1 0 0 0-.569.236l-1.271 1.084a3 3 0 0 1-3.892 0l-1.271-1.084a1 1 0 0 0-.57-.236l-1.665-.133a3 3 0 0 1-2.751-2.751l-.133-1.666a1 1 0 0 0-.236-.569l-1.084-1.271a3 3 0 0 1 0-3.892l1.084-1.271a1 1 0 0 0 .236-.57l.133-1.665a3 3 0 0 1 2.751-2.751l1.666-.133a1 1 0 0 0 .569-.236l1.271-1.084zm5.653 8.363a1 1 0 0 0-1.414-1.414L11 12.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4z" fill="currentColor"/></g></svg>
            </div>
            
            % end

        </div>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <div class="">
                    <p class="text-sm text-twitterLightGray">@{{user["username"]}}</p>
                </div>
                <div class="mt-4">
                    <p class="text-white text-base">{{user["user_bio"]}}</p>
                </div>
                <div class="flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-twitterLightGray">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    <p class="text-sm text-twitterLightGray">Joined <span class="epoch">{{user["user_created_at"]}}</span></p>
                </div>
            </div>
            %if cookie_user:
            <div class="flex gap-4">
                <p class="text-sm text-twitterLightGray"><span id="user_total_following" class="text-white font-bold"> {{user["user_total_following"]}}</span> Following</p>
                <p class="text-sm text-twitterLightGray"><span id="user_total_followers" class="text-white font-bold">{{user["user_total_followers"]}}</span> Followers</p>
            </div>

            % else:
            <div class="flex gap-4">
                <p class="text-sm text-twitterLightGray"><span id="user_total_following" class="text-white font-bold"> {{user["user_total_following"]}}</span> Following</p>
                <p class="text-sm text-twitterLightGray"><span id="user_total_followers" class="text-white font-bold">{{user["user_total_followers"]}}</span> Followers</p>
            </div>
            % end
        </div>
        </div>
    </div>
<!-- end full profile details section -->


 <!-- Profile toggle menu -->
 <div>
    <div class="flex">
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       <span class="border-b-4 border-twitterBlue pb-4">
       Tweets
       </span>
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       Replies
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       Media
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       Likes
       </a>
    </div>
 </div>

 <!-- Profile toggle menu end -->