<div class="sticky top-20 flex flex-col gap-4 w-full p-2 mt-4 bg-zinc-900 rounded-lg">
    <div class="text-xl font-bold">Who to follow</div>
    
      % for suggested_user in suggested_users:
      <a href="{{suggested_user['username']}}" class=" w-full h-full">
      <div class="flex flex-col gap-6">
        <div class="flex items-center justify-between gap-6 mt-2 p-2">
          <div class="flex gap-4 h-full w-full">
            % if suggested_user["user_profile_picture"]:
            <img src="/images/profilepictures/{{suggested_user['user_profile_picture']}}" class="w-12 h-12 rounded-full object-cover">
            % else:
            <img src="/images/profilepictures/default_avatar.png" alt="" class="w-12 h-12 rounded-full">
            % end
            <div class="flex flex-col">
              <div class="text-white font-bold flex gap-2">
                {{suggested_user["user_firstname"]}} {{suggested_user["user_lastname"]}}

              </div>
              <div>
                <p class="text-zinc-500">@{{suggested_user["username"]}}</p>
              </div>
            </div>
            % if suggested_user["user_is_verified"] == 1:
            <svg width="20" height="20" viewBox="0 0 24 24" class="text-twitterBlue">
                <path fill="currentColor" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45Zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12Z"/>
            </svg>
            % end
          </div>

          <div id="follow_unfollow_{{suggested_user['username']}}_aside" value="">
            <form onsubmit="follow(); return false">
                <input type="text" name="followee_fk" value="{{suggested_user['username']}}" style="display:none">
                <button class="ml-auto px-4 py-2 text-black text-sm font-medium bg-white rounded-full">Follow</button>
            </form>
        </div>

        </div>
      </div>
    </a>
    % end

    <a href="#" class="text-twitterBlue">Show more</a>
</div>