<!-- full profile details section -->
    <!-- top details -->
    <div class="flex flex-col">
        <div class="flex items-center">
        <!-- arrow back -->
        <div class="p-4">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="currentColor" d="m8.3 17.3l-4.6-4.6q-.15-.15-.213-.325T3.426 12q0-.2.063-.375T3.7 11.3l4.625-4.625Q8.6 6.4 9 6.4t.7.3q.275.275.275.7t-.275.7L6.8 11H20q.425 0 .713.288T21 12q0 .425-.288.713T20 13H6.8l2.925 2.925Q10 16.2 10 16.6t-.3.7q-.275.275-.7.275t-.7-.275Z"/></svg>
            </a>
        </div>
        
        <div class="flex flex-row items-center">
            <p class="font-bold text-xl px-4">{{user["user_firstname"]}} {{user["user_lastname"]}}</p>
            % if user["user_is_verified"]:
            <svg width="20" height="20" viewBox="0 0 24 24" class="text-sky-500">
                <path fill="currentColor" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45Zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12Z"/>
            </svg>
            % end

            % if user["user_is_activated"] == "1":
            <svg width="20" height="20" viewBox="0 0 24 24" class="text-red-500">
                <path fill="currentColor" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45Zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12Z"/>
            </svg>
            % end
        </div>
    </div>

        <p class="px-10 text-xs font-normal text-gray-400 pb-4">
            {{ f'{int(user["user_total_tweets"]):,d}'.replace(',','.') }} Tweets
        </p>
        
        <img src="/images/coverpictures/{{user['user_cover_picture']}}" alt="coverpicture" class="object-cover">
    </div>
    <!-- end top details -->
    

    <div class="flex px-4">
        <img src="/images/profilepictures/{{user['user_profile_picture']}}" alt="" class="w-28 h-28 rounded-full object-cover border-4 border-black -mt-12">
        <div class="flex ml-auto items-center gap-2">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </a>
        
        % if cookie_user:

        <div id="follow_unfollow" value="{{user['username']}}_profile">
            % if cookie_user["user_id"] == user_id:
            <button href="{{user['username']}}/settings" id="cookie_user_profile" class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">Edit profile</button>
            
            % elif follow == []:
            <form onsubmit="follow(); return false">
                <input type="text" name="followee_fk" value="{{user['username']}}" style="display:none">
                <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">Follow</button>
            </form>
            
            % else:
            <form id="" onsubmit="unfollow(); return false">
                <input type="text" name="unfollowee_fk" value="{{user['username']}}" style="display:none">
                <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">Unfollow</button>
            </form> 
            % end
        </div>
    % end



    </div>
    </div>
    <!-- Under profile picture -->
    <div class="flex flex-col px-4">
        <div>
        <div class="flex items-center gap-2 mt-4">
            <p class="font-bold text-xl">{{user["user_firstname"]}} {{user["user_lastname"]}}</p>
            % if user["user_is_verified"]:
            <svg width="20" height="20" viewBox="0 0 24 24" class="text-sky-500">
                <path fill="currentColor" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45Zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12Z"/>
            </svg>
            % end
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <div class="">
                    <p class="text-sm text-gray-400">@{{user["username"]}}</p>
                </div>
                <div class="mt-4">
                    <p class="text-white text-base">{{user["user_bio"]}}</p>
                </div>
                <div class="flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    <p class="text-sm text-gray-400">Joined {{user["user_created_at"]}}</p>
                </div>
            </div>
            %if cookie_user:
            <div class="flex gap-4">
                <p class="text-sm text-gray-400"><span id="my_total_following" class="text-white font-bold"> {{user["user_total_following"]}}</span> Following</p>
                <p class="text-sm text-gray-400"><span id="my_total_followers" class="text-white font-bold">{{user["user_total_followers"]}}</span> Followers</p>
            </div>

            % else:
            <div class="flex gap-4">
                <p class="text-sm text-gray-400"><span id="user_total_following" class="text-white font-bold"> {{user["user_total_following"]}}</span> Following</p>
                <p class="text-sm text-gray-400"><span id="user_total_followers" class="text-white font-bold">{{user["user_total_followers"]}}</span> Followers</p>
            </div>
            % end
        </div>
        </div>
    </div>
<!-- end full profile details section -->


 <!-- Profile toggle menu -->
 <div>
    <div class="flex">
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       <span class="border-b-4 border-sky-400 pb-4">
       Tweets
       </span>
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       Tweets & replies
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       Media
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4 text-sm">
       Likes
       </a>
    </div>
 </div>

 <!-- Profile toggle menu end -->