<div class="sticky top-20 flex flex-col gap-4 w-full p-2 mt-4 bg-zinc-900 rounded-lg">
    <div class="text-xl font-bold">Who to follow</div>
    
      % for suggested_user in suggested_users:
      <a href="{{suggested_user['username']}}" class=" w-full h-full">
      <div class="flex flex-col gap-6">
        <div class="flex items-center justify-between gap-6 mt-2 p-2">
          <div class="flex gap-4 h-full w-full">
            % if suggested_user["user_profile_picture"]:
            <img src="/images/profilepictures/{{suggested_user['user_profile_picture']}}" class="w-12 h-12 rounded-full object-cover">
            % else:
            <img src="/images/profilepictures/default_avatar.png" alt="" class="w-12 h-12 rounded-full">
            % end
            <div class="flex flex-col">
              <div class="text-white font-bold flex gap-2">
                {{suggested_user["user_firstname"]}} {{suggested_user["user_lastname"]}}

              </div>
              <div>
                <p class="text-zinc-500">@{{suggested_user["username"]}}</p>
              </div>
            </div>
            % if suggested_user["user_is_verified"] == 1:
            <div class="verified_container">
              <svg id="verified_icon" xmlns="http://www.w3.org/2000/svg" class="text-twitterBlue" width="20" height="20" viewBox="0 0 24 24"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.054 2.344a3 3 0 0 1 3.892 0l1.271 1.084a1 1 0 0 0 .57.236l1.665.133a3 3 0 0 1 2.751 2.751l.133 1.666a1 1 0 0 0 .236.569l1.084 1.271a3 3 0 0 1 0 3.892l-1.084 1.271a1 1 0 0 0-.236.57l-.133 1.665a3 3 0 0 1-2.751 2.751l-1.666.133a1 1 0 0 0-.569.236l-1.271 1.084a3 3 0 0 1-3.892 0l-1.271-1.084a1 1 0 0 0-.57-.236l-1.665-.133a3 3 0 0 1-2.751-2.751l-.133-1.666a1 1 0 0 0-.236-.569l-1.084-1.271a3 3 0 0 1 0-3.892l1.084-1.271a1 1 0 0 0 .236-.57l.133-1.665a3 3 0 0 1 2.751-2.751l1.666-.133a1 1 0 0 0 .569-.236l1.271-1.084zm5.653 8.363a1 1 0 0 0-1.414-1.414L11 12.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4z" fill="currentColor"/></g></svg>
          </div>
            % end
          </div>

          <div id="follow_unfollow_{{suggested_user['username']}}_aside" value="">
            <form id="follow_form" onsubmit="follow(); return false">
              <input type="text" name="followee_fk" value="{{suggested_user['user_id']}}" style="display:none">
              <button class="ml-auto px-4 py-2 text-black text-sm font-medium bg-white rounded-full">Follow</button>
          </form>


        </div>

        </div>
      </div>
    </a>
    % end

    <a href="#" class="text-twitterBlue">Show more</a>
</div>