    <!-- Toggle options -->
    <div class="sticky top-0 z-0 bg-black backdrop-blur-md border-zinc-600 border-b">
        <p class="p-4 font-bold text-2xl">
          Home
        </p>
        <div class="flex">
          <a href="" class="w-full hover:bg-zinc-800 text-center p-4">
            <span class="border-b-4 border-sky-400 pb-4">
              For you
            </span>
          </a>
          <a href="" class="w-full hover:bg-zinc-800 text-center p-4">
            Following
          </a>
        </div>
      </div>
      <!-- Toggle options end -->