<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
      <title>
        % if defined("user"):
          {{user["user_firstname"]}} {{user["user_lastname"]}}
        % else:
          Twitter
        % end 
      </title>
  </head>
  
  <body class="w-screen h-full overflow-x-hidden overflow-y-scroll bg-black grid grid-cols-[1fr_minmax(0,1400px)_1fr] items-center place-content-center text-white">
    

  <main class="flex justify-center col-[2/3]">

  <section class="hidden sm:flex sticky top-0 flex-col h-screen p-4 text-lg items-end">
  <!-- <aside class="sm:block w-68 xs:w-88 xl:w-275 h-screen"> -->
    <!-- twitter logo -->
    <div class="flex flex-col items-center max-w-[250px] h-full gap-2 xl:items-start">
      <a href="/" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg width="32" height="32" viewBox="0 0 24 24" class=""><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"/></svg>
      </a>

      <!-- home -->
      % if cookie_user:
      <a href="/" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </svg>        
        <span class="hidden xl:flex">
          Home
        </span>
      </a>
      % end

      <!-- exlore -->
      <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg width="32" height="32" viewBox="0 0 256 256"><path fill="currentColor" d="M224 88h-48.6l8.5-46.6a8 8 0 0 0-15.8-2.8l-9 49.4h-47.7l8.5-46.6a8 8 0 1 0-15.8-2.8l-9 49.4H43.6a8 8 0 1 0 0 16h48.6l-8.7 48H32a8 8 0 0 0 0 16h48.6l-8.5 46.6a8 8 0 0 0 6.5 9.3H80a8 8 0 0 0 7.9-6.6l9-49.4h47.7l-8.5 46.6a8 8 0 0 0 6.5 9.3h1.4a8 8 0 0 0 7.9-6.6l9-49.4h51.5a8 8 0 0 0 0-16h-48.6l8.7-48H224a8 8 0 0 0 0-16Zm-76.5 64H99.8l8.7-48h47.7Z"/></svg>
        <span class="hidden xl:flex">
          Explore
        </span>
      </a>

      <!-- Notifications -->
      <a href="#" class="flex gap-2 px-4 py-2 hover:bg-gray-800 rounded-full relative">
        <svg width="32" height="32" viewBox="0 0 256 256"><path fill="currentColor" d="M168 224a8 8 0 0 1-8 8H96a8 8 0 0 1 0-16h64a8 8 0 0 1 8 8Zm52.9-32a15.9 15.9 0 0 1-13.9 8H49a16 16 0 0 1-13.8-24.1c5.9-10.2 13-29.6 13-63.9v-8A79.9 79.9 0 0 1 128 24h.6c43.7.3 79.2 36.6 79.2 80.9v7.1c0 34.3 7.1 53.7 13 63.9a16.2 16.2 0 0 1 .1 16.1Zm-13.9-8c-6.9-12-15.2-34.1-15.2-72v-7.1c0-35.5-28.4-64.7-63.3-64.9h-.5a63.8 63.8 0 0 0-63.8 64v8c0 37.9-8.3 60-15.2 72Z"/></svg>
        <span class="hidden xl:flex">
          Notifications
        </span>
        <div class="flex justify-center absolute top-0 left-7 px-2 text-base text-white bg-sky-500 rounded-full">
          4
        </div>
      </a>

      <!-- messages -->
      <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M5 5h13a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3m0 1c-.5 0-.94.17-1.28.47l7.78 5.03l7.78-5.03C18.94 6.17 18.5 6 18 6H5m6.5 6.71L3.13 7.28C3.05 7.5 3 7.75 3 8v9a2 2 0 0 0 2 2h13a2 2 0 0 0 2-2V8c0-.25-.05-.5-.13-.72l-8.37 5.43Z"/></svg>
        <span class="hidden xl:flex">
          Messages
        </span>
      </a>

      <!-- bookmarks -->
      <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg width="32" height="32" viewBox="0 0 256 256"><path fill="currentColor" d="M184 36H72a12 12 0 0 0-12 12v176a3.9 3.9 0 0 0 2.1 3.5a3.8 3.8 0 0 0 4-.1l61.9-38.7l61.9 38.7a3.9 3.9 0 0 0 2.1.6a4.1 4.1 0 0 0 1.9-.5a3.9 3.9 0 0 0 2.1-3.5V48a12 12 0 0 0-12-12Zm4 180.8l-57.9-36.2a4 4 0 0 0-4.2 0L68 216.8V48a4 4 0 0 1 4-4h112a4 4 0 0 1 4 4Z"/></svg>
        <span class="hidden xl:flex">
          Bookmarks
        </span>
      </a>

      <!-- lists -->
      <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>        
        <span class="hidden xl:flex">
          Lists
        </span>
      </a>

      <!-- profile -->
      <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg width="32" height="32" viewBox="0 0 256 256"><path fill="currentColor" d="M230.2 213a118.3 118.3 0 0 0-70.5-54.6a70 70 0 1 0-63.4 0A118.3 118.3 0 0 0 25.8 213a5.9 5.9 0 0 0 2.2 8.2a6 6 0 0 0 8.2-2.2a106 106 0 0 1 183.6 0a6 6 0 0 0 5.2 3a6.4 6.4 0 0 0 3-.8a5.9 5.9 0 0 0 2.2-8.2ZM70 96a58 58 0 1 1 58 58a58 58 0 0 1-58-58Z"/></svg>
        <span class="hidden xl:flex">
          Profile
        </span>
      </a>

      <!-- more -->
      <a href="#" class="flex items-center gap-2 px-4 py-2 hover:bg-gray-800 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>        
        <span class="hidden xl:flex">
          More
        </span>
      </a>

     

      <!-- tweetbutton -->
      <div class="xl:w-full xl:pr-8">
        <button class="xl:bg-sky-600 rounded-full xl:px-6 xl:py-3 items-center xl:w-full xl:items-stretch">
          <div class="bg-sky-600 rounded-full p-4 xl:p-0">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="w-6 h-6 xl:hidden"><g fill="#FFFFFF"><path d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z" fill="#FFFFFF"></path></g></svg>
          </div>
          <span class="hidden xl:flex justify-center">Tweet</span>
        </button>
      </div>

      % if not cookie_user:
      <!-- login button -->
      <a href="/login" class="flex gap-2 xl:w-full mt-auto mb-4 p-2 hover:bg-neutral-800 rounded-full items-center">
            <p>Log in</p>     
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
        </svg>  
      </a>
      % end


    % if cookie_user:
    <div class="flex gap-4 items-center w-full mt-auto p-2 hover:bg-gray-800 rounded-xl">
      <img src="images/profilepictures/50f4de12-dcd0-4b6d-b49a-8831c520662a.jpg" class="w-12 h-12 rounded-full">
      <div class="">
        <div class="font-bold text-sm hidden xl:flex">Tomine Ødegård</div>
        <div class="text-gray-500 text-sm hidden xl:flex">@tomineodeard</div>
      </div>
      <svg width="32" height="32" viewBox="0 0 24 24" class="w-6 h-6 hidden xl:flex hover:text-sky-600 hover:cursor-pointer">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
        d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z" />
      </svg>
    </div>

    <a href="/logout" class="flex gap-4 items-center w-full mt-auto p-2 hover:bg-gray-800 rounded-xl">
      <p class="font-bold text-sm">Log out</p>
    </a>
    % end
  <!-- </aside> -->
  </section>