 <div class="min-h-screen h-full border-x border-gray-600 max-w-[600px]">
  % if not cookie_user:
  <div class="mt-8 px-4">
    % include('comp_trends')
  </div>
  % end
  
  % if cookie_user:
    <!-- Toggle options -->
    <div class="sticky top-0 z-0 bg-black backdrop-blur-md border-zinc-600 border-b">
     <p class="p-4 font-bold text-2xl">
       Home
     </p>
     <div class="flex">
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4">
         <span class="border-b-4 border-twitterBlue pb-4">
           For you
         </span>
       </a>
       <a href="" class="w-full hover:bg-zinc-800 text-center p-4">
         Following
       </a>
     </div>
   </div>
   <!-- Toggle options end -->
   % end

  % if cookie_user:
  % include('comp_create_new_tweet')
  % end

   

  % if cookie_user:
   <!-- Welcome back section -->
   <div id="welcome_back" class="px-6 gap-4 pb-8 border-t border-twitterLightGray flex flex-col">
     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-twitterLightGray ml-auto">
       <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
     </svg>
     
     <h3 class="text-4xl font-bold">Welcome back</h3>
     <p class="text-twitterLightGray text-base">Select some topics you're interested in to help personalize your Twitter experience, starting with finding people to follow.</p>
     
     <button class="mr-auto bg-white text-black font-bold py-2 px-6 rounded-full">
       Get started
     </button>
   </div>
   % end

   % if cookie_user:
   % include('comp_tweets_loop')
   % end


   </div>

 </div>
 