<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.css">
  <title>
    {{title}}
  </title>
</head>
<body>
  <main class="grid grid-cols-[100fr_150fr_100fr] w-full h-full text-gray-200 text-lg bg-black font-light overflow-hidden overflow-y-scroll">
  <!-- left -->
  % include('side_menu')
  <!-- end left -->

  <!-- middle -->
  % include('feed')
  <!-- end middle -->

  <!-- right -->
  % include('side_right')
  <!-- end right -->
  
  </main>
</body>
</html>