<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script defer src="/js/convert_epoch.js"></script>
    <script defer src="/js/follow.js"></script>
    <script defer src="/js/handle_delete_tweet.js"></script>
    <script defer src="/js/handle_forgot_password.js"></script>
    <script defer src="/js/post_tweet.js"></script>
    <script defer src="/js/render_modal.js"></script>
    <script defer src="/js/unfollow.js"></script>


      <title>
        % if defined("user"):
          {{user["user_firstname"]}} {{user["user_lastname"]}}
        % else:
          Twitter
        % end 
      </title>
  </head>
  
  <body class="w-full h-full overflow-x-hidden overflow-y-scroll bg-black items-center place-content-center text-white">
    <!-- <main class="justify-center col-[2/3] grid grid-cols-[100fr_150fr_100\fr]"> -->
      <main class="flex justify-center col-[2/3]">

    % include('comp_left')
    % include('comp_middle')
    % include('comp_right')

    % if not cookie_user:
    % include('comp_bottom_blue')
    % end

  
  </main>
</body>
</html>