<!-- Full screen overlay element -->
<div id="modal_edit_profile" class="hidden fixed z-40 w-screen h-screen inset-0 bg-gray-700 bg-opacity-75">
    <!-- Dialog start -->
    <div class="fixed z-50 w-screen h-screen sm:top-[30%] sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-1/4 bg-black sm:rounded-xl space-y-5 drop-shadow-lg sm:w-[600px] sm:h-auto">
        <!-- Form start -->
        <form onsubmit="handleUpdateUser(); return false">
            <div class="bg-black rounded-lg w-full h-fit flex flex-col justify-start mx-auto my-0 md:h-fit md:my-4">
                <!-- Modal navigation -->
                <div class="p-4 flex items-center justify-between">
                    <div class="flex gap-2">
                        <button onclick="closeModalEditProfile()" type="button">
                            <svg height="22" viewbox="0 0 15 15" width="22" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd" d="M11.782 4.032a.575.575 0 1 0-.813-.814L7.5 6.687L4.032 3.218a.575.575 0 0 0-.814.814L6.687 7.5l-3.469 3.468a.575.575 0 0 0 .814.814L7.5 8.313l3.469 3.469a.575.575 0 0 0 .813-.814L8.313 7.5l3.469-3.468Z" fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                        <p class="text-base text-white">Edit profile</p>
                    </div>
                    <button onclick="closeModalEditProfile()" class="ml-auto px-4 py-2 text-black text-base font-medium bg-white rounded-full">Save</button>
                </div>
                <!-- Modal navigation end -->

                <!-- Coverpicture -->
                <div class="flex flex-col justify-center overflow-hidden items-center">
                    % if user["user_cover_picture"]: 
                        <img class="w-full bg-cover bg-no-repeat bg-center max-h-[200px]" id="user_cover_picture_preview" src="/images/coverpictures/{{user['user_cover_picture']}}" alt="coverpicture {{user['username']}}"> 
                    % else:
                        <div class="w-full bg-cover bg-no-repeat bg-center h-[200px]">
                            <div class="bg-zinc-600 w-full h-full"></div>
                        </div>
                    % end
                    <!-- Icons wrapper -->
                    <div class="absolute flex gap-4">
                        <!-- Upload -->
                        <div class="p-4 h-16 w-16 flex justify-center bg-zinc-600 hover:bg-zinc-500 rounded-full opacity-60 items-center">
                            <label class="cursor-pointer" for="user_cover_picture_upload">
                                <span class="hidden">User cover picture</span>
                                <svg aria-hidden="true" class="w-7 h-7" viewbox="0 0 24 24"><g><path d="M9.697 3H11v2h-.697l-3 2H5c-.276 0-.5.224-.5.5v11c0 .276.224.5.5.5h14c.276 0 .5-.224.5-.5V10h2v8.5c0 1.381-1.119 2.5-2.5 2.5H5c-1.381 0-2.5-1.119-2.5-2.5v-11C2.5 6.119 3.619 5 5 5h1.697l3-2zM12 10.5c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm-4 2c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4zM17 2c0 1.657-1.343 3-3 3v1c1.657 0 3 1.343 3 3h1c0-1.657 1.343-3 3-3V5c-1.657 0-3-1.343-3-3h-1z" fill="#fafafa"></path></g></svg>
                            </label>
                            <input accept="image/*" class="hidden" id="user_cover_picture_upload" name="user_cover_picture" onchange="previewImg()" type="file">
                        </div>
                        <!-- Delete -->
                        <div class="p-4 h-16 w-16 flex justify-center bg-zinc-600 hover:bg-zinc-500 rounded-full opacity-60">
                            <label class="cursor-pointer" for="user_delete_cover_picture">
                                <span class="hidden">Delete user cover image</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M16.066 8.995a.75.75 0 1 0-1.06-1.061L12 10.939L8.995 7.934a.75.75 0 1 0-1.06 1.06L10.938 12l-3.005 3.005a.75.75 0 0 0 1.06 1.06L12 13.06l3.005 3.006a.75.75 0 0 0 1.06-1.06L13.062 12l3.005-3.005Z"/></svg>
                            </label>
                        </div>
                    </div>  
                </div>
                <!-- Coverpicture end -->

                <!-- Profile picture -->
                <div class="relative w-24 sm:w-32 h-12 ml-4 mt-8">
                    % if user["user_profile_picture"]: 
                        <img alt="profile picture {{user['username']}}" class="absolute bottom-0 w-32 rounded-full" id="user_profile_picture_preview" src="/images/profilepictures/{{user['user_profile_picture']}}"> 
                    % else:
                        <img alt="default avatar picture {{user['username']}}" class="absolute bottom-0 w-32 rounded-full" id="user_profile_picture_preview" src="/images/profilepictures/default_avatar.png"> 
                    % end 
                    
                    <!-- Edit icon -->
                    <div class="absolute left-1/2 sm:-top-1/4 flex -translate-y-1/2 -translate-x-1/2 gap-4 p-3 bg-zinc-600 hover:bg-zinc-500 rounded-full opacity-80">
                        <label class="cursor-pointer" for="user_profile_picture_upload"><span class="hidden">User profile picture</span> <svg aria-hidden="true" class="w-7 h-7" viewbox="0 0 24 24">
                        <g>
                            <path d="M9.697 3H11v2h-.697l-3 2H5c-.276 0-.5.224-.5.5v11c0 .276.224.5.5.5h14c.276 0 .5-.224.5-.5V10h2v8.5c0 1.381-1.119 2.5-2.5 2.5H5c-1.381 0-2.5-1.119-2.5-2.5v-11C2.5 6.119 3.619 5 5 5h1.697l3-2zM12 10.5c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm-4 2c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4zM17 2c0 1.657-1.343 3-3 3v1c1.657 0 3 1.343 3 3h1c0-1.657 1.343-3 3-3V5c-1.657 0-3-1.343-3-3h-1z" fill="#fafafa"></path>
                        </g></svg></label> <input accept="image/*" class="hidden" id="user_profile_picture_upload" name="user_profile_picture" onchange="previewImg()" type="file">
                    </div>
                </div>
                <!-- Profile picture end -->

                <!-- Form -->
                <div class="flex flex-col text-white p-4">
                    <div class="">
                        <label for="firstname">First name</label> 
                        <input class="bg-inherit text-zinc-400 border border-zinc-400 p-2 rounded-md w-full focus:ring-blue-500 focus:border-blue-500" id="firstname" name="user_firstname" type="text" value="{{cookie_user['user_firstname']}}">
                        <label for="lastname">Last name</label>
                        <input class="bg-inherit text-zinc-400 border border-zinc-400 p-2 rounded-md w-full" id="lastname" name="user_lastname" type="text" value="{{cookie_user['user_lastname']}}">
                        <label for="bio">Bio</label>
                        <input class="bg-inherit text-zinc-400 border border-zinc-400 p-2 rounded-md w-full" id="bio" name="user_bio" type="text" value="{{cookie_user['user_bio']}}">
                    </div>
                </div>
            </div>
        </form>
        <!-- Form end -->
    </div>
</div>
<!-- Dialog end -->
<!-- Full screen overlay element end -->