<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">

    <script defer src="/js/convert_epoch.js"></script>
    <script defer src="/js/follow.js"></script>
    <script defer src="/js/handle_delete_tweet.js"></script>
    <script defer src="/js/handle_update_user.js"></script>
    <script defer src="/js/post_tweet.js"></script>
    <script defer src="/js/render_modals.js"></script>
    <script defer src="/js/unfollow.js"></script>


    <title>
      % if defined("user"):
        {{user["user_firstname"]}} {{user["user_lastname"]}} (@{{user["username"]}}) / Twitter
      % else:
        Twitter
      % end 
    </title>
</head>

<body class="w-full h-full overflow-x-hidden overflow-y-scroll bg-black items-center place-content-center text-white">  
   <!-- <main class="justify-center col-[2/3] grid grid-cols-[100fr_150fr_100fr]"> -->
    <main class="flex justify-center col-[2/3]">

   % include('comp_left')

   <!-- middle -->
   <div id="profile" class="min-h-screen h-full border-x border-gray-600 w-[600px]">
      % include('comp_profile_header')
      
      <!-- Profile tweets -->
      % for tweet in tweets:
      <div class="flex w-full border-t border-gray-600 overflow-hidden">
       <!-- profile picture in tweet -->
       <div class="p-4 flex flex-col justify-between items-center">
         <a href="{{user['username']}}">
           <img src="/images/profilepictures/{{user['user_profile_picture']}}" class="w-12 h-auto rounded-full object-cover">
         </a>
       </div>
        <!-- profile picture in tweet end -->

        <div class="w-full pr-4 pt-4 pb-4">
          <!-- tweet top row with username +++ -->
          <div class="flex justify-between">
            <div class="flex gap-4 items-center">
              <a href="{{user['username']}}" class="flex justify-between gap-2 items-center text-base font-medium text-white">
                {{user["user_firstname"]}} {{user["user_lastname"]}}
                % if user["user_is_verified"] == 1:
                <div class="verified_container">
                  <svg id="verified_icon" xmlns="http://www.w3.org/2000/svg" class="text-twitterBlue" width="20" height="20" viewBox="0 0 24 24"><g fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.054 2.344a3 3 0 0 1 3.892 0l1.271 1.084a1 1 0 0 0 .57.236l1.665.133a3 3 0 0 1 2.751 2.751l.133 1.666a1 1 0 0 0 .236.569l1.084 1.271a3 3 0 0 1 0 3.892l-1.084 1.271a1 1 0 0 0-.236.57l-.133 1.665a3 3 0 0 1-2.751 2.751l-1.666.133a1 1 0 0 0-.569.236l-1.271 1.084a3 3 0 0 1-3.892 0l-1.271-1.084a1 1 0 0 0-.57-.236l-1.665-.133a3 3 0 0 1-2.751-2.751l-.133-1.666a1 1 0 0 0-.236-.569l-1.084-1.271a3 3 0 0 1 0-3.892l1.084-1.271a1 1 0 0 0 .236-.57l.133-1.665a3 3 0 0 1 2.751-2.751l1.666-.133a1 1 0 0 0 .569-.236l1.271-1.084zm5.653 8.363a1 1 0 0 0-1.414-1.414L11 12.586l-1.293-1.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4z" fill="currentColor"/></g></svg>
              </div>
               % end
                <p class="text-sm text-zinc-500 font-medium transition ease-in-out duration-150">
                  @{{user["username"]}}
                </p>
              </a>
              <!-- timestamp -->
              <!-- timestamp -->
              <div class="text-sm text-zinc-500 font-medium items-center">
                <p class="epochDayMonth">{{tweet["tweet_created_at"]}}</p>
              </div>
            </div>

          <!-- ellipse -->
            % if cookie_user:
                % if cookie_user["user_id"] == user_id:
                <button onclick="displayModalDeleteTweet()" type="button" id="cookie_user_profile">
                  <svg width="32" height="22" viewBox="0 0 24 24" class="ml-auto text-twitterLightGray hover:text-twitterBlue">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z" />
                  </svg>
                </button>

                
                % else:
                <svg width="32" height="22" viewBox="0 0 24 24" class="ml-auto text-twitterLightGray hover:text-twitterBlue">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z" />
                </svg>
                % end
            % end
           </div>
            <!-- tweet top row with username +++ end -->
          
          <!-- tweet message -->
          <div class="mt-4">
            {{tweet["tweet_message"]}}
            % if tweet.get("tweet_image"): 
             <img src="images/tweet_images/{{tweet['tweet_image']}}" class="w-full mt-4 max-h-96 rounded-lg object-contain">
            % end
          </div>
         <!-- tweet message end -->
   
         <!-- replies -->
          <div class="flex justify-between mt-4 text-twitterDarkGray pr-6 pb-2">
            <div class="flex gap-2 items-center text-twitterLightGray hover:text-twitterBlue">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
               <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
             </svg>                 
              <p class="">{{tweet["tweet_total_replies"]}}</p>
            </div>
   
           <!-- retweets -->
            <div class="flex gap-2 items-center text-twitterLightGray hover:text-twitterGreen">
              <svg width="24" height="24" viewBox="0 0 21 21" class=""><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m13.5 13.5l3 3l3-3"/><path d="M9.5 4.5h3a4 4 0 0 1 4 4v8m-9-9l-3-3l-3 3"/><path d="M11.5 16.5h-3a4 4 0 0 1-4-4v-8"/></g></svg>
              <span class="">{{tweet["tweet_total_retweets"]}}</span>
            </div>
   
            <!-- likes -->
            <div class="flex gap-2 items-center text-twitterLightGray hover:text-twitterRed">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6" stroke-width="1.5" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
             </svg>          
              <span class="">{{tweet["tweet_total_likes"]}}</span>
            </div>
   
           <!-- views -->
            <svg width="24" height="24" viewBox="0 0 512 512" class="w-6 h-6 text-twitterLightGray hover:text-twitterBlue"><path fill="currentColor" d="M128 496H48V304h80Zm224 0h-80V208h80Zm112 0h-80V96h80Zm-224 0h-80V16h80Z"/></svg>
            
            <!-- share -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-twitterLightGray hover:text-twitterBlue">
             <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
           </svg>
           
           </div>
        </div>
      </div>
      % end
      <!-- Profile tweets end -->
   </div>
   <!-- end middle -->
   % include('comp_right')

   % if not cookie_user:
   % include('comp_bottom_blue')
   % end

   % if cookie_user:
    % if tweets:  
    % include('modal_delete_tweet')
    % end
   % end



      </main>
   </body>
</html>