<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/js/follow.js"></script>
    <script defer src="/js/unfollow.js"></script>    
    <title>
    % if defined("user"):
        {{user["user_firstname"]}} {{user["user_lastname"]}}
      % else:
        Twitter
      % end 
    </title>
</head>
<body>
  Settingspage for {{user['username']}}
</body>
</html>